<ul>
  {{#each this.redux.state.todos as |todo index|}}
    <li>
      <input type="checkbox" checked={{todo.completed}} {{on "click" (fn this.toggleTodo todo)}} />
      {{todo.completed}}
      {{todo.text}}
    </li>
  {{/each}}
</ul>

<input value={{this.input}} {{on "input" this.updateInput}}/>
<button {{on "click" this.addTodo}}>Add Item</button>
